{% extends 'base.html.twig' %}
{% block body %}
    <!-- Start: Section Menu -->
    <div class="header-panel shadow-z-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    <h1>{{ manual.name|title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Section Menu -->

    <!-- Start: Seccion main -->
    <div class="container-fluid main">
        <div class="row">
            <nav class="col-xs-3 menu">
                <ul>
                    {% for section in sections %}
                        <li class="{% if loop.first %}active{% endif %} withripple" data-target="#section-{{ section.id }}">{{ section.name }}</li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="pages col-xs-9">
                <div class="row">
                    <div class="col-xs-10">
                        {% for section in sections %}
                            {% embed ':fragments:section.html.twig' %}
                                {% set isActive = '' %}
                                {% if loop.first == true %}
                                    {% set isActive = 'active' %}
                                {% else %}
                                    {% set isActive = ''  %}
                                {% endif %}
                                {% block isActiveClass %}{{ isActive }}{% endblock %}
                                {% block idSection %}section-{{ section.id }}{% endblock %}
                                {% block titleSection %}{{ section.name }}{% endblock %}
                                {% block contentSection %}{{ section.description|raw }}{% endblock %}
                            {% endembed %}
                        {% endfor %}
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-fab btn-material-grey-200 opensource">
                            <i class="material-icons">grade</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modals-->
    <div id="source-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'source.control'|trans }}</h4>
                </div>
                <div class="modal-body" contenteditable="true">
                    <pre></pre>
                </div>
            </div>
        </div>
    </div>

    <!-- End: Section main-->
{% endblock %}
{% block javascripts %}
    <script>
        window.page = window.location.hash || "#about";

        $(document).ready(function () {
            if (window.page != "#about") {
                $(".menu").find("li[data-target=" + window.page + "]").trigger("click");
            }
        });

        $(window).on("resize", function () {
            $("html, body").height($(window).height());
            $(".main, .menu").height($(window).height() - $(".header-panel").outerHeight());
            $(".pages").height($(window).height());
        }).trigger("resize");

        $(".menu li").click(function () {
            // Menu
            if (!$(this).data("target")) return;
            if ($(this).is(".active")) return;
            $(".menu li").not($(this)).removeClass("active");
            $(".page").not(page).removeClass("active").hide();
            window.page = $(this).data("target");
            var page = $(window.page);
            window.location.hash = window.page;
            $(this).addClass("active");


            page.show();

            var totop = setInterval(function () {
                $(".pages").animate({scrollTop: 0}, 0);
            }, 1);

            setTimeout(function () {
                page.addClass("active");
                setTimeout(function () {
                    clearInterval(totop);
                }, 1000);
            }, 100);
        });

        function cleanSource(html) {
            var lines = html.split(/\n/);

            lines.shift();
            lines.splice(-1, 1);

            var indentSize = lines[0].length - lines[0].trim().length,
                    re = new RegExp(" {" + indentSize + "}");

            lines = lines.map(function (line) {
                if (line.match(re)) {
                    line = line.substring(indentSize);
                }

                return line;
            });

            lines = lines.join("\n");

            return lines;
        }

        $(".opensource").click(function () {
            $.get(window.location.href, function (data) {
                var html = $(data).find(window.page).html();
                html = cleanSource(html);
                $("#source-modal pre").text(html);
                $("#source-modal").modal();
            });
        });
    </script>
{% endblock %}