{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid main">
    {% embed ':fragments:section.html.twig' %}
    {% block isActiveClass %}active{% endblock %}
    {% block isEditable %}false{% endblock %}
    {% block titleSection %}
        <h1>{{ 'manual_edit'|trans }}</h1>
    {% endblock %}
    {% block contentSection %}
    <div class="table-responsive">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="{{ 'ACTIONS.EDIT'|trans }}" />
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a href="{{ path('manual_index') }}">{{ 'back_to_the_list'|trans }}</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="{{ 'ACTIONS.delete'|trans }}">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

