{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid main">
    {% embed ':fragments:section.html.twig' %}
        {% block isActiveClass %}active{% endblock %}
        {% block isEditable %}false{% endblock %}
        {% block titleSection %}
            <h1>{{ 'manual_create'|trans }}</h1>
        {% endblock %}
        {% block contentSection %}
            <div class="table-responsive">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="{{ 'ACTIONS.create'|trans }}" />
                {{ form_end(form) }}
                <ul>
                    <li>
                        <a href="{{ path('manual_index') }}">{{ 'back_to_the_list'|trans }}</a>
                    </li>
                </ul>
            </div>
        {% endblock %}
    {% endembed %}
</div>
{% endblock %}
